@import "../../assets/style/general.module.scss";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 90vh;
  font-size: $justText;

  & > div {
    max-width: 60vw;
    width: 100%;
  }
}

.header {
  display: flex;
  & > div {
    &:not(:first-of-type) {
      margin-left: $marginLeft;
    }
  }
}

.body {
  height: 100%;
  padding: max(20px, 2vh) 0;
  max-height: 83vh;

  display: flex;
  flex-direction: column;
  justify-content: end;

  overflow-x: hidden;
  overflow-y: scroll;
  transition: all 5s ease;
}

.footer {
  display: flex;
  margin-bottom: max(5px, 0.5vh);
  width: 100%;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 10%;
    min-width: 60px;

    svg {
      width: max(50px, 5vw);
      height: max(30px, 3vh);
    }

    &.active {
      svg path {
        fill: $siteColor;
      }
    }
  }
}

.input {
  width: 90%;
  max-width: 45vw;
  border-radius: $borderRadius;
}
