@import "../../assets//style/general.module.scss";

.root {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  border-radius: $borderRadius;

  padding: max(7px, 0.7vh);
  font-size: $justText;

  cursor: pointer;

  &:hover {
    background-color: $hoverColor;
  }

  img {
    min-width: max(100px, 10vh);
    max-width: max(100px, 10vh);
    height: max(100px, 10vh);
    border-radius: 50%;
    object-fit: cover;
  }

  & > div {
    max-width: 700px;
    margin-left: $marginLeft;
    overflow: hidden;

    div {
      &:nth-of-type(2) {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  & > span {
    position: absolute;
    right: max(7px, 0.7vh);
    top: max(7px, 0.7vh);
  }
}
