@import "../../assets/style/general.module.scss";

// max-width: max(700px, 45vw);
.root {
  h3 {
    font-size: $justHeader;
  }
}
.poster {
  width: 100%;
  display: flex;
  position: relative;

  margin-top: $marginTop;

  & > div {
    transition: all 0.1s ease;
    border-radius: $borderRadius;

    &:nth-of-type(1) {
      width: 65%;
    }

    &:nth-of-type(2) {
      width: 35%;
      margin-left: calc($marginLeft * 0.3);
    }
  }

  img {
    position: relative;
    width: 100%;
    height: max(250px, 25vh);

    object-fit: cover;
    border-radius: $borderRadius;

    z-index: -2;
  }

  input {
    position: absolute;
    width: max(150px, 8vw);
    height: $buttonHeight;

    bottom: max(10px, 1vh);
    left: max(10px, 1vh);

    font-size: $justText;
    background-color: rgba(46, 45, 45, 0.654);
  }

  &.active {
    & > div {
      box-shadow: inset 0px 0px 10px 10px rgba(41, 41, 41, 0.652);
    }
  }
}

#file {
  display: none;
}
